config-notification {
    disable-failed
}

output "HDMI-A-1" {
    mode "2560x1440@143.999"
    scale 1
    position x=6580 y=0
    focus-at-startup
}

output "eDP-1" {
    mode "1920x1080@144"
    scale 1
    position x=0 y=0
}


gestures {
    hot-corners {
        off
    }
}

input {
    keyboard {
        xkb { }
    numlock
    }
   touchpad {
       tap
        natural-scroll
    }
    mouse { }
    trackpoint { }
}

layout {
	gaps 7
    background-color "transparent"
    always-center-single-column
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
  focus-ring {

        width 2
        active-color "#ffffff33"
     }    
border {        
        width 1
        active-color   "#707070"      // Neutral gray
        inactive-color "#d0d0d0"      // Light gray
        urgent-color   "#cc4444"      // Softer red
    }
    struts {
    }
      shadow {
            softness 30
            spread 5
            offset x=0 y=5
            color "#0007"
        }
}
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}
overview {
    workspace-shadow {
        off
    }
}

environment {
   XDG_CURRENT_DESKTOP "qt6ct"
   XDG_CURRENT_DESKTOP "niri"
   QT_QPA_PLATFORM "wayland"
   ELECTRON_OZONE_PLATFORM_HINT "auto"
   QT_QPA_PLATFORMTHEME "qt6ct"
   SQL_VIDEODRIVER "wayland"
   _JAVA_AWT_WM_NONREPARENTING "1"
   DISPLAY ":1"
// XWAYLAND_ENABLE "0"

// NVIDIA Gaming Optimizations
  __GL_GSYNC_ALLOWED "1"
  __GL_VRR_ALLOWED "1"
  PROTON_ENABLE_NVAPI "1"
  PROTON_HIDE_NVIDIA_GPU "0"
  PROTON_ENABLE_NGX_UPDATER "1"

}
hotkey-overlay {
    skip-at-startup
}

spawn-at-startup "noctalia-shell"
spawn-at-startup "lxqt-policykit-agent"
spawn-at-startup "vicinae" "server"

prefer-no-csd
screenshot-path "~/Bilder/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
		
  workspace-switch {
	off
     }
   
     horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
     }
     window-movement {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
     }
     window-resize {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
     }
     config-notification-open-close {
         spring damping-ratio=1.0 stiffness=923 epsilon=0.001
     }
    screenshot-ui-open {
        off 
	duration-ms 200
        curve "ease-out-quad"
     }
     overview-open-close {
         spring damping-ratio=0.85 stiffness=1900 epsilon=0.0001
     }
    slowdown 1
 }

workspace "1" {
open-on-output "HDMI-A-1"
 }
workspace "2" {
open-on-output "HDMI-A-1"
 }
workspace "3" {
open-on-output "HDMI-A-1"
 }
workspace "4" {
open-on-output "HDMI-A-1"
 }
workspace "5" {
 }
window-rule {
    match app-id="vesktop"
    open-on-workspace "4"
}


window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 20
    clip-to-geometry true
}
window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}
window-rule {
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^xdg-desktop-portal$"#
    match app-id="org.gnome.NautilusPreviewer"
    open-floating true
}
window-rule {
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="vesktop"
    match app-id="ghostty"
    draw-border-with-background false
}
window-rule {
    match app-id="kitty"    
    match app-id="ghostty"
opacity 0.85
}

window-rule {
    geometry-corner-radius 7
    clip-to-geometry true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}

layer-rule {
    match namespace="^quickshell-overview$"
    place-within-backdrop true
}

debug {
    honor-xdg-activation-with-invalid-serial

}
window-rule {
    match app-id="pavucontrol"
    opacity 0.95
    open-floating true
    default-column-width { fixed 900; }
    default-window-height { fixed 1000; }
}
window-rule {
    match title="Authentication Required"
    opacity 0.95
    open-floating true
}

window-rule {
    match app-id=r#"Bitwarden$"#
    block-out-from "screen-capture"
}

window-rule {
    match app-id="vicinae"
}


binds {
    Mod+T hotkey-overlay-title="Open Terminal" { spawn "ghostty"; }
    Mod+Z hotkey-overlay-title="Open Pavucontrol" { spawn "pavucontrol"; }
    Mod+X hotkey-overlay-title="Open Zen" { spawn "zen-browser"; }
    Mod+Alt+Space repeat=false { spawn "vicinae" "toggle"; }
    //Mod+Alt+Space { spawn-sh "noctalia-shell ipc call launcher toggle"; }

    XF86AudioRaiseVolume { spawn "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume { spawn "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute { spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86MonBrightnessUp { spawn "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown { spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"; }
    Mod+S { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
   Mod+Shift+P { power-off-monitors; }
}
// Override to disable super+tab
recent-windows {
    binds {
        Alt+Tab         { next-window scope="output"; }
        Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}

include "./noctalia.kdl"
